.top-banner {
    margin-bottom: 130px;
}

.course-title {
    margin-bottom: 50px;
}

.course-detail {
    margin-bottom: 130px;
}

.explore-banner {
    margin-bottom: 130px;
    background-color: #F4FAFD;
    ;
}

.explore-title {
    margin-top: 130px;
}

.register-title {
    width: 50%;
    margin-top: 20px;
}

.students-info {
    margin-top: 130px;
    margin-bottom: 130px;
}

.companies {
    margin-top: 130px;
}

.end-banner {
    height: 472px;
    background-color: black;
}